spring:
  jpa:
    hibernate.ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
    show-sql: true
    defer-datasource-initialization: false

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: password

  liquibase:
    change-log: db/changelog-dev.yaml
    contexts: dev

server:
  port: 8080