<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/css/confirmAnswers.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <form th:action="@{/quiz/{gameDtoId}/completeResults(gameDtoId=${gameDtoId})}"  method="get">
                <div class="confirmText"> Please confirm to obtain results:</div>
                <div class="d-flex align-items-center pt-3">
                    <div class="ml-auto mr-sm-5">
                        <button  class="btn btn-success" type="submit">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>