<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz Management</title>

</head>
<body>
<div class="container">
    <h1>Quiz Management</h1>

    <form th:action="@{/createQuiz}" method="post">
        <label for="quizName">Quiz Name:</label>
        <input type="text" id="quizName" name="quizName" required>

        <label for="categoryId">Select Category:</label>
        <select id="categoryId" name="categoryId" required>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>

        <button type="submit">Add quiz</button>
    </form>

    <table>
    </table>
</div>
</body>
</html>
