<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edu quiz application</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <header th:insert="~{fragments/fragments :: header}" class="blog-header lh-1 py-3"></header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-center">
            <a th:each="category : ${categories}" th:text="${category.name}" class="p-2 link-secondary" th:href="@{'/category/'+${category.id()}}" >Category</a>
        </nav>
    </div>

    <div class="row mb-2">
        <div class="col" th:each="quiz : ${quizzes}">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary" th:text="${quiz.category().getName()}">Category</strong>
                        <h3 class="mb-0" th:text="${quiz.name}">Quiz</h3>
                        <p class="card-text mb-auto">Default short quiz description.</p>
                        <a th:href="@{'/quiz/'+${quiz.id} +'/1'}" class="stretched-link">Start the quiz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer th:insert="~{fragments/fragments :: footer}"></footer>

</div>
</body>
</html>
